.jindosh-riddle-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding-bottom: 40px;
}

.jindosh-riddle-header > p {
  color: #FFFFFF;
  font-size: 30px;
  font-style: italic;
  font-family: "Times New Roman";
}

.jindosh-riddle-text {
  border: 1px solid #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.jindosh-riddle-text > p {
  color: #FFFFFF;
  font-size: 20px;
  font-style: italic;
  font-family: "Times New Roman";
}

.jindosh-riddle-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 20px;
}

.jindosh-riddle-button {
  background-color: black;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-style: italic;
  font-family: "Times New Roman";
  cursor: pointer;
}