.jindosh-riddle-page {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.jindosh-riddle-page-content {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.jindosh-riddle-page-solution-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  margin-left: 50px;
}